{% extends "base.html" %}
{% block title%}La Joute de Vinci{% endblock %}{% block body %}
<div class="row">
   <div class="col pt-3">
      <div class="card card-body">
         <h2>
            <center>Admin</center>
         </h2>
      </div>
   </div>
</div>

<div class="row">
   <div class="col pt-3">
      <div class="card card-body">x
         <center>
            <h3>Ajouter un cours</h3>
         </center>
         <form action="{{url_for("viewAdmin.registCours")}}" method="POST">
            <div class="form-group">
               <label> Titre du cours :</label>
               <input class="form-control" type="text" class="form-control" name="titre" placeholder="Titre du cours"
                  required>
            </div>
            <div class="form-group">
               <label> Date :</label>
               <input class="form-control" type="date" id="form-control" name="datedb" value={{date}} min={{date}}
                  max="2030-12-31" required>
            </div>
            <div class="form-group">
               <label> Horraire de début :</label>
               <input class="form-control" type="time" id="appt" name="start" value="09:00" min="09:00" max="22:00"
                  required>
            </div>
            <div class="form-group">
               <label> Horraire de fin :</label>
               <input class="form-control" type="time" id="appt" name="end" value="18:00" min="09:00" max="22:00"
                  required>
            </div>
            <div class="form-group">
               <label>Couleur :</label>
               <select class="form-control" name="color" id="select" size="0.75" required>
                  <option value="">Selectionnez une couleur&hellip;</option>
                  <option value="blue"> Bleu</option>
                  <option value="green"> Vert</option>
                  <option value="yellow"> Jaune</option>
                  <option value="orange">Orange</option>
                  <option value="red"> Rouge</option>
                  <option value="pink"> Rose</option>
               </select>
            </div>
            <div class="form-group">
               <label>Lien :</label>
               <input type="text" class="form-control" name="lien" placeholder="Lien" required>
            </div>
            <button class="btn btn-primary btn-block">Ajouter</button>
         </form>
      </div>
   </div>
   <div class="col-md-6 pt-3">
      <div class="row">
         <div class="col">
            <div class="card card-body">
               <center>
                  <h3>Ajouter une information d"accueil</h3>
               </center>
               <form action="{{url_for("viewAdmin.registInfos")}}" method="POST">
                  <div class="form-group">
                     <label>Date</label>
                     <input class="form-control" type="date" id="form-control" name="datedb" value={{date}} min={{date}}
                        max="2030-12-31" required>
                  </div>
                  <div class="form-group">
                     <label>Description</label>
                     <input type="text" class="form-control" name="description"
                        placeholder="Brève description de l'annonce" required>
                  </div>
                  <button class="btn btn-primary btn-block">Ajouter</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
