{% extends "layout.html" %}
{% block title%}Application{% endblock %}{% block body %}  
<div class="row">
   <div class="col pt-3">
      <div class="card card-body">
         <h2>
            <center>Application</center>
         </h2>
      </div>
   </div>
</div>
<div class="row">
   <div class="col pt-3">
      <div class="card card-body">
         <table class="table table-striped table-hover table-bordered table-sm bg-white">
            <thead>
               <tr>
                  <td>Cours</td>
                  <td>Date</td>
                  <td>Début</td>
                  <td>Fin</td>
                  <td>Lien</td>
               </tr>
            </thead>
            {% for cours in cours %}
            {% if cours.2 == date %}
            <tbody>
               <tr>
                  <td>{{cours.1}}</td>
                  <td>{{cours.2}}</td>
                  <td>{{cours.3}}</td>
                  <td>{{cours.4}}</td>
                  <td>
                     <a href="{{cours.5}}" class="btn btn-secondary">Lien Zoom</a>
                     {% if account['admin'] == 1 %}
                     <a href="deletecours/{{cours.0}}" class="btn btn-danger btn-delete">Suppr</a>
                     {% endif %}
                  </td>
               </tr>
            </tbody>
            {% endif %}
            {% endfor %}
            </thead>
         </table>
      </div>
   </div>
</div>

<div class="pt-3">
   <div class="card card-body">
      {% if account['present'] == 0 %}
      <form action="{{url_for('usersviews.presence')}}" method="POST">
         <button class="btn btn-success btn-block">Valider</button>
      </form>
      {% endif %}{% if account['present'] == 1 %}
      <form action="{{url_for('usersviews.presence')}}" method="POST">
         <div style="text-align: center">
            <h4>
            Présent</h>
         </div>
      </form>
      {% endif %}
   </div>
   {% if account['admin'] == 1 %}
   <div class="pt-3">
      <div class="card card-body">
         <form action="{{url_for('adminviews.appel')}}" method="POST">
            <button class="btn btn-danger btn-block">Ouverture de l'appel</button>
         </form>
      </div>
      <div class="pt-3">
        <div class="card card-body">
          <table class="table table-striped table-hover table-bordered table-sm bg-white">
             <thead>
                <tr>
                   <td>Nom</td>
                   <td>Prénom</td>
                   <td>Spécialité</td>
                </tr>
             </thead>
             <tbody>
                {% for contact in contacts %}{% if contact.5 == 0 %}
                <tr>
                   <td>{{contact.6}}</td>
                   <td>{{contact.7}}</td>
                   <td>{{contact.11}}</td>
                </tr>
                {% endif %}{% endfor %}
             </tbody>
          </table>
        </div>
   </div>
  <div class="pt-3">
     <div class="card card-body">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
           <thead>
              <tr>
                 <td>Cours</td>
                 <td>Date</td>
                 <td>Début</td>
                 <td>Fin</td>
                 <td>Lien</td>
              </tr>
           </thead>
           {% for cours in cours %}
           <tbody>
              <tr>
                 <td>{{cours.1}}</td>
                 <td>{{cours.2}}</td>
                 <td>{{cours.3}}</td>
                 <td>{{cours.4}}</td>
                 <td>
                    <a href="{{cours.5}}" class="btn btn-secondary">Lien Zoom</a>
                    {% if account['admin'] == 1 %}
                    <a href="deletecours/{{cours.0}}" class="btn btn-danger btn-delete">Suppr</a>
                    {% endif %}
                 </td>
              </tr>
           </tbody>
           {% endfor %}
           </thead>
        </table>
     </div>
  </div>
  {% endif %}
</div>
{% endblock %}