{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block head%} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
{% endblock %}
{% block body %}
<div id="agenda">
<script>
  	var calendarEl = document.getElementById ('agenda');
  	
  	var calendar = new FullCalendar.Calendar(calendarEl, {
		locale: 'fr',
		timeZone: 'UTC',
      	initialView: 'timeGridWeek',
		weekends: true,
      	weekNumbers:true,
  		isRTL: true,
    	height: 720,
		contentHeight: 50,
		aspectRatio: 2,
		allDaySlot : false,
		navLinks: true,



		navLinkWeekClick: function(weekStart, jsEvent) {
			console.log('week start', weekStart.toISOString());
			console.log('coords', jsEvent.pageX, jsEvent.pageY);
		},
        buttonText: {
                    today:    "Aujourd'hui",
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour'
		},
        headerToolbar: {
			right: 'dayGridMonth,timeGridWeek,timeGridDay',
			center:'title',
			left: 'prev,next,today',
		},

      	events : [
	      	{% for event in events %}
	        {
	        	title : '{{event.1}}',
	            start : '{{event.2 + 'T' + event.3[:2] + event.3[3:]}}',
	            end : '{{event.2 + 'T' + event.4[:2] + event.4[3:]}}',
	            color : '{{event.6}}',
			},
	        {% endfor %}
        ],

  	});



  	calendar.render();

</script>
</div>
{% endblock %}
