{% extends "layout.html" %}
{% block title%}Edit{% endblock %}
{% block body %}

  <div class="row">
  	<div class="col-md-8 offset-md-2">
      <div class="card card-body">
        <form action="edituser/{{contact.0}}" method="POST">
         
        <div class="form-group">
             École :
             <select name="ecole" required>
                <option value="{{contact.8}}">Selectionnez une option&hellip;</option>
                <option value="ESILV">ESILV</option>
                <option value="EMLV">EMLV</option>
                <option value="IIM">IIM</option>
                <option value="Autre">Autre</option>
             </select>
         </div>

         <div class="form-group">
            Année :
            <select name="annee" required>
                <option value="{{contact.9}}">Selectionnez une option&hellip;</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
                <option value="A4">A4</option>
                <option value="A5">A5</option>
                <option value="Autre">Autre</option>
            </select>
          </div>

          <div class="form-group">
            <input type="tel" placeholder = "Téléphone (06 00 00 00 00)" name="phone" value="{{contact.10}}" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" class="form-control" required>
          </div>

          <div class="form-group">
            <input type="email" placeholder = "E-mail" name="email" value="{{contact.3}}" class="form-control" required>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
