{% extends "base.html" %}{% block title%}Membres{% endblock %}{% block body %} 
<div class="row pt-3">
   <div class="col">
      <div class="card card-body">
         <h2>
            <center>Membres</center>
         </h2>
      </div>
   </div>
</div>
<div class="row pt-3">
   <div class="col-md-6 pt-3">
      {% with messages = get_flashed_messages()  %}{% if messages %}{% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      {% endfor %}{% endif %}{% endwith %}
      <div class="card card-body">
         <form action="{{url_for("controlMembres.registAccountAdmin")}}" method="POST">
         <div class="form-group">
            <label> Nom :</label>
            <input type="text" class="form-control" name="nom" placeholder="Nom" required>
         </div>
         <div class="form-group">
            <label> Prénom :</label>
            <input type="text" class="form-control" name="prenom" placeholder="Prénom" required>
         </div>
         <div class="form-group">
            <label> Identifiant :</label>
            <input type="text" class="form-control" name="username" placeholder="Identifiant" required>
         </div>
         <div class="form-group">
            <label> Téléphone :</label>
            <input type="tel" placeholder = "Téléphone (06 00 00 00 00)" name="phone"
               pattern="[0-9\s]{10,14}" class="form-control">
         </div>
         <div class="form-group">
            <label> E-mail :</label>
            <input type="email" placeholder = "E-mail" name="email" 
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control">
         </div>
         <div class="form-group">
            <label> École :</label>
            <select class="form-control" name="ecole" id="select" size="1" required>
               <option value="{{ecole[0]}}">Sélectionnez une option&hellip;</option>
               {% for ecole in ecole %}
               <option value="{{ecole}}">{{ecole}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label> Année :</label>
            <select class="form-control" name="annee" id="select" size="1" required>
               <option value="{{annee[0]}}">Sélectionnez une option&hellip;</option>
               {% for annee in annee %}
               <option value="{{annee}}">{{annee}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label> Spécialité :</label>
            <select class="form-control" name="specialite" id="select" size="1" required>
               <option value="{{specialite[0]}}">Sélectionnez une option&hellip;</option>
               {% for specialite in specialite %}
               <option value="{{specialite}}">{{specialite}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label> Profil :</label>
            <select class="form-control" name="admin" id="select" size="1" required>
               <option value="{{admin[0][0]}}">Sélectionnez une option&hellip;</option>
               {% for admin in admin %}
               {% if session["admin"]|int >= admin[0]|int  %}
               <option value="{{admin[0]}}">{{admin[1]}}</option>
               {% endif %}
               {% endfor %}
            </select>
         </div>
         <button class="btn btn-success btn-block">Ajouter un membre</button>
         </form>
      </div>
   </div>
   <div class="col-md-6 pt-3">
      <table class="table table-striped table-hover table-bordered table-sm">
         <thead>
            <tr>
               <td>Nom</td>
               <td>Prenom</td>
               <td>Specialite</td>
               <td>Action</td>
            </tr>
         </thead>
         <tbody>
            {% for contact in contacts %}
            <tr>
               <td>{{contact.6}}</td>
               <td>{{contact.7}}</td>
               <td>{{contact.11}}</td>
               <td>
                  {% if session["admin"]|int >= contact.4|int%}
                  <a href="/updateAccountAdmin/{{contact.0}}" class="btn btn-secondary">edit</a>
                  {% if session["account"]["id"]|int != contact.0|int %}
                  <a href="/delAccount/{{contact.0}}" class="btn btn-danger btn-delete">suppr</a>
                  {% endif %}
                  {% endif %}
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}