{% extends "layout.html" %}{% block title%}Sujets{% endblock %}{% block body %}  
<div class="row">
    <div class="col">
        <div class="card card-body">
            <h2><center>Sujets</center></h2>
        </div>
    </div>
</div>
  <div class="col">
    {% with messages = get_flashed_messages()  %}{% if messages %}{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}{% endif %}{% endwith %}
    <div class="card card-body">
      <h2><center>Ajouter un sujet</center></h2>
      <form action="{{url_for('adminviews.add_sujet')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="sujet" placeholder="Sujet" required>
        </div>
        <div class="form-group">
          Type :
          <select name="type" size="1" required>
            <option value="Débat parlemenait">Sélectionnez une option&hellip;</option>
            <option value="Débat parlementaire">Débat parlementaire</option>
            <option value="Plaidoirie">Plaidoirie</option>
            <option value="Sujet fun">Sujet fun</option>
          </select>
        </div>
        <button class="btn btn-primary btn-block">Ajouter</button>
      </form>
    </div>
  </div>
  <div class="col">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <td>Sujet</td>
          <td>Type</td>
          <td>action</td>
        </tr>
      </thead>
      <tbody>
        {% for sujet in sujets %}
        <tr>
          <td>{{sujet.1}}</td>
          <td>{{sujet.2}}</td>
          <td>
            <a href="/editsujet/{{sujet.0}}" class="btn btn-secondary">edit</a>
            <a href="/deletesujet/{{sujet.0}}" class="btn btn-danger btn-delete">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
