{% extends "base.html" %}
{% block title%}La Joute de Vinci{% endblock %}
{% block body %}
<div class="row">
    <div class="col pt-3">
        <div class="card card-body">
            <h2>
                <center>Sujet</center>
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col pt-3">
        <div class="card card-body">
            <form action="/updateSujetFun/{{sujet.0}}" method="POST">
                <div class="form-group">
                    </label>Sujet :</label>
                    <input type="text" placeholder = "Sujet" name="sujet" value="{{sujet.1}}" class="form-control">
                </div>
                <div class="form-group">
                    <label> Type :</label>
                    <select class="form-control" name = "type">
                        <option value="{{sujet.2}}">{{sujet.2}}</option>
                        {% for sujets in sujetsconf %}
                        <option value="{{sujets}}">{{sujets}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
