{% extends "base.html" %}
{% block title%}La Joute de Vinci{% endblock %}
{% block body %}
<div class="row">
   <div class="col pt-3">
      <div class="card card-body">
         <h2>
            <center>Membres</center>
         </h2>
      </div>
   </div>
</div>
<div class="row">
   <div class="col pt-3">
      <div class="card card-body">
         <form action="/updateAccountAdminFun/{{account["id"]}}" method="POST">
            <div class="form-group">         
                  <label> Identifiant :</label>
               <input type="text" placeholder = "Identifiant" name="username" value="{{account["username"]}}" 
                  class="form-control" pattern="[a-z]{4,12}" title="4 à 12 lettres en minuscules" required>
               <div class="form-group">            
                  <label> Nom :</label>
                  <input type="text" placeholder = "Nom" name="nom" value="{{account["nom"]}}"class="form-control" required>
               </div>
               <div class="form-group">
                  <label> Prénom :</label>
                  <input type="text" placeholder = "Prénom"  name="prenom" value="{{account["prenom"]}}" class="form-control" required>
               </div>
               <div class="form-group">
                  <label> E-mail :</label>
                  <input type="email" placeholder = "E-mail"  name="email" value="{{account["email"]}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" required>
               </div>
               <div class="form-group">
                  <label> Téléphone :</label>            
                  <input type="tel" placeholder = "Téléphone (06 00 00 00 00)" name="phone" value="{{account["phone"]}}" pattern="[0-9\s]{10,14}" class="form-control" required>
               </div>
               <div class="form-group">
                  <label> École :</label>
                  <select class="form-control"name ="ecole" id="select" size="1" required>
                     <option value="{{account["ecole"]}}">{{account["ecole"]}}</option>
                     {% for ecole in ecole %}
                     <option value="{{ecole}}">{{ecole}}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group">
                  <label> Année :</label>
                  <select class="form-control" name="annee" id="select" size="1" required>
                     <option value="{{account["annee"]}}">{{account["annee"]}}</option>
                     {% for annee in annee %}
                     <option value="{{annee}}">{{annee}}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group">
                  <label> Spécialité :</label>
                  <select class="form-control" name="specialite" id="select" size="1" required>
                     <option value="{{account["specialite"]}}">{{account["specialite"]}}</option>
                     {% for specialite in specialite %}
                     <option value="{{specialite}}">{{specialite}}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group">
                  <label> Profil :</label>
                  <select class="form-control" name="admin" id="select" size="1" required>
                     <option value="{{account["admin"]}}">{{admin[account["admin"]][1]}}</option>
                     {% for admin in admin %}
                     {% if session["admin"]|int >= admin[0]|int  %}
                     <option value="{{admin[0]}}">{{admin[1]}}</option>
                     {% endif %}
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block">
                  Update
                  </button>
               </div>
         </form>
         <form action="/resetPassword/{{account["id"]}}" method="POST">
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">
                  Reset Password
               </button>
            </div>
         </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
